body{
    background-color: #eaeaea;
    font-family: "Roboto", sans-serif;
}

@font-face{
    font: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format("truetype");
    font-weight: 400;
}


@font-face{
    font: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.ttf') format("truetype");
    font-weight: 700;
}

.containers{
    max-width: 1030px;
    margin: 0 auto;
}

.header-list_movie{
color: #252525;
font-size: 50px;
text-align: center;
margin: 155px 0 80px 0;
}

.table-list_movie{
width: 100%;
border-collapse: collapse;
border-radius: 15px;
overflow: hidden;
vertical-align: top;
}



.table-list_movie th{
    background: #A3CC40;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    padding: 22px 0 15px 0;
    text-align: left;
}

.table-list_movie td{
    background: #373737;
    color: #fff;
    text-align: left;
    padding: 2px 0 10px 0;
}
.first_row{

